*.iml
.gradle
.safedk
.idea
/local.properties
/.idea/caches
/.idea/misc.xml
/.idea/deploymentTargetDropDown.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/compiler.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/schemas
/app/release
/app/google-services.json
/app/src/androidTest
/.idea/sonarlint/issuestore/
/keystore.jks
/.safedk
/.safedk/plugin.properties
/.safedk/hashes.safedk
